@media screen and (max-width: 420px) {
  section.typeA .tabLabel {
    font-size: 14px;
  }
  .topPageHeader {
    width: 290px;
    font-size: 20px;
  }
  .magazineSlideZone {
    margin: 10px 0;
    padding: 5px 0 2px;
  }
  .sliderMagazine img {
    height: 250px;
    margin: auto;
  }
  .magazineSlideZone .slick-slider {
    margin-bottom: 20px !important;
  }
  .slick-slide {
    opacity: 1;
  }
  .magazineSlideZone .slick-dots {
    padding-top: 0 !important;
    bottom: -20px !important;
    height: inherit !important;
  }
  .goToArticlesBtn a {
    width: 125px;
    font-size: 16px;
  }
  .aiueoSearchZone {
    margin: 10px 5px;
    padding: 12px 0;
  }
  .aiueoSearchZone td:not(.brank) {
    line-height: 30px;
  }
  .aiueoSearchZone td {
    height: 30px;
    margin: 2.5px;
  }
  .aiueoSearchZone td.brank {
    width: 29px;
  }
  .aiueoSearchZone td a,
  .aiueoSearchZone td span {
    padding: 0 5px !important;
  }
  .areaSearchInner {
    height: 400px;
    width: 350px;
  }
  .areaZone {
    width: 65px;
    height: 100px;
  }
  .areaBadge {
    font-size: 14px;
    width: 29px;
    top: -18px;
    left: -18px;
  }
  .areaZone.hokubu {
    width: 135px;
    top: -3px;
    left: 100px;
  }
  .areaZone.iga {
    top: 110px;
    left: -110px;
  }
  .areaZone.chubu {
    width: 135px;
    top: 120px;
    right: -5px;
  }
  .areaZone.iseShima {
    width: 135px;
    top: 253px;
    right: 145px;
  }
  .areaZone.higashikishu {
    top: 210px;
    left: -445px;
  }
  .areaHeader {
    font-size: 15px;
    margin-bottom: 4px;
    padding: 2px 0;
  }
  .areaSearchZone li {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .genreSearchCard {
    margin: 10px;
    height: 135px;
  }
  .genreSearchCard a {
    font-size: 25px;
    padding: 20px 3px 0;
  }
  .genreSearchColumn .fa-bookmark {
    font-size: 24px;
    top: -146px;
  }
  .genreSearchCard:hover + i {
    transform: rotateZ(10deg) translateX(10px);
  }
  .recommendGourmetZone {
    padding: 10px 5px;
    border: none;
  }
  .recommendGourmetBox {
    margin: 5px 0;
    border: 2px outset silver;
    width: 48%;
  }
  .banzukeRank {
    width: 55px;
    font-size: 19px;
    padding-left: 6px;
    padding-right: 0;
  }
  .banzukePost {
    width: 200px;
    padding: 6px;
  }
  .banzukePost h3 {
    font-size: 18px;
  }
  .banzukeStar {
    padding-right: 6px;
  }
  .star-rating {
    font-size: 16px;
  }
  .kencemeshiExplainContents p {
    font-size: 14px;
    text-align: left;
  }
  .kencemeshiExplainContents {
    padding: 0 3px;
  }
  .kencemeshiHistory {
    padding: 10px 5px;
  }
  .kencemeshiHistoryContents h3 {
    font-size: 20px;
    margin: 10px 0 3px;
  }
  .kencemeshiHistoryContents h4 {
    font-size: 17px;
    margin: 10px 0;
    min-width: 35px;
  }
  .kencemeshiHistoryContents ul {
    padding-left: 20px;
  }
  .codoc-entry {
    margin: 15px auto;
  }
  .acknowledgement {
    font-size: 14px;
  }
  .to_kence_work {
    font-size: 15px;
  }
}
