@import 'settings';

html {
  scroll-padding-top: 74px;
}

/* PCの場合全体レイアウトにgridを使う */
/* @media screen and (min-width: 992px) {
  .row {
    display: grid !important;
  }
  .col-md-9 {
    width: inherit !important;
  }
  .col-md-3 {
    width: 300px !important;
    grid-column: 3/4;
  }
} */

.page_parent {
  a {
    color: saddlebrown;
    &:focus,
    &:hover,
    &:active {
      outline: none;
      color: saddlebrown;
      text-decoration: none;
    }
  }
}
ul {
  list-style-type: none;
}
.btn {
  color: saddlebrown;
  background-color: cornsilk;
  border-color: saddlebrown;
  &:hover,
  &:active,
  &:focus {
    color: cornsilk;
    background-color: saddlebrown;
    border-color: cornsilk;
  }
}
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open>.btn-default.dropdown-toggle {
  color: saddlebrown;
  background-color: cornsilk;
  border-color: saddlebrown;
}
.form-control {
  color: saddlebrown !important;
  &:focus {
    border-color: saddlebrown !important;
  }
}
input::placeholder {
  color: saddlebrown !important;
}

/* ヘッダーメニュー */
.headerMenu {
  display: flex;
}
.menuItem {
  width: calc(100%/3);
  background-color: cornsilk;
  color: saddlebrown;
  border-bottom: 2px solid saddlebrown;
  a {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding: 10px 30px;
    cursor: pointer;
  }
  &.active a {
    background-color: saddlebrown;
    color: cornsilk;
    border-bottom: 2px solid cornsilk;
    cursor: default;
  }
}

/* parts */
.p_bold {
  font-weight: bold;
}
.p_crimson {
  color: crimson;
}
.p_kakudai {
  font-size: 1.05em;
}

/* font-awesome */
.fa-fire {
  color: firebrick;
}
.fa-trophy {
  color: goldenrod;
  text-shadow: 2px 2px 2px gold;
}

a {
  &.instaLink {
    color: deeppink;
  }
  &.supportLink,
  &.workLink {
    color: crimson;
  }
}

.forAd {
  border: none !important;
}

.commonHeader {
  color: black;
  background-color: white;
  margin: 10px auto 20px;
  width: 320px;
  box-shadow: 5px 5px 5px 1px black;
  font-weight: bold;
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 1px silver;
  font-size: 22px;
}

/* ケンチェの窓口モーダル */
.kenceWindowModal iframe[src^="https://docs.google.com/forms/d/e"] {
  width: 100%;
  height: 100vh;
}
.kenceWindowAnnounce {
  background-color: cornsilk;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  i {
    font-size: 50px;
  }
}
.kenceWindowCaution {
  display: block;
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
}
.kenceWindowModalOpen {
  display: block;
  text-align: center;
  color: black;
  padding: 20px 0;
  a {
    text-shadow: 1px 1px 1px silver;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: 3px outset silver;
    background-color: white;
    color: black;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.6;
      color: black;
      text-shadow: 3px 3px 3px silver;
    }
  }
}
.kenceWindowModal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.kenceWindowModalBg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
}
.kenceWindowModalContent {
  width: 700px;
  max-height: 830px;
  background: #fff;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.kenceWindowModalContentInner {
  overflow-y: scroll;
  position: relative;
  max-height: 90vh;
}
a.kenceWindowModalClose {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
  background: #fff;
  padding: 10px;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 10px;
  margin: 8px;
  &:hover,
  &:active,
  &:focus {
    color: black;
  }
}
.kenceWindowModalOpen:hover,
.kenceWindowModalClose:hover {
  color: black;
}
.kenceWindowAnnounce {
  font-size: 0.75em;
}
.kenceWindowAnnounce i {
  font-size: calc(50px / 2);
}
.kenceWindowModalOpen {
  padding: 15px 0 20px;
}

/* pagenation */
.pagination {
  margin: 20px 0 20px 8px;
  &>li>span,
  &>li>span:focus,
  &>li>span:hover {
    background-color: saddlebrown !important;
    border-color: saddlebrown !important;
    color: cornsilk !important;
  }
  &>li>a {
    color: saddlebrown !important;
  }
  &>li>a:hover,
  &>li>a:focus {
    background-color: saddlebrown !important;
    color: cornsilk !important;
  }
}

.followInsta {
  color: #FFF !important;
  border-radius: 7px;
  position: relative;
  display: block;
  margin: auto;
  width: 150px;
  text-align: center;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
  }
  .fa-instagram {
    font-size: 30px;
    position: relative;
    top: 4px;
    font-style: inherit;
    margin-right: 0.2em;
  }
  span {
    font-size: 22px;
    display:inline-block;
    position: relative;
  }
  &:hover span {
    opacity: 0.8;
  }
}

.sub-page-contents {
  padding-top: 10px;
}

.slider {
  opacity: 0;
  transition: opacity .3s linear;
  &.slick-initialized {
    opacity: 1;
  }
}

a.linkBtn {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  color: $kence-color-1;
  background-color: $kence-color-2;
  box-shadow: 0 0 10px $kence-color-1;
  border-radius: 8px;
  transition: 0.3s;
  &:hover,
  &:active,
  &:focus, {
    color: $kence-color-2;
    background-color: $kence-color-1;
    &::after {
      border-color: $kence-color-2;
    }
  }
  &::after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 3px solid $kence-color-1;
    border-right: 3px solid $kence-color-1;
    transform: rotate(45deg);
  }
}